{% load static %}

<!doctype html>
<html>
  <head>
    <title>VehicleVault</title>

    <!-- CSS Links -->
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <!-- Navbar -->
    {% if user.is_authenticated %} {% include 'core/navbar.html' %} {% endif %}

    <!-- Page Content -->
    <div class="content">{% block content %} {% endblock %}</div>
  </body>
</html>
