{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="auth-bg">

    <div class="auth-card">

        <h2>Login</h2>

        {% if error %}
            <div class="error-msg">{{ error }}</div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <label>Email</label>
            <input type="text" name="username" placeholder="Enter Email" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Enter Password" required>

            <button type="submit" class="auth-btn">Login</button>
        </form>

        <p>
            Don’t have an account?
            <a href="{% url 'signup' %}">Signup</a>
        </p>

    </div>

</div>

{% endblock %}