{% extends 'base.html' %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}
{% block content %}
<div class="auth-wrapper">
  <div class="auth-card-simple">
    <h2 class="auth-title">Sign in to VehicleVault</h2>

    {% if error %}
    <div class="error-msg">{{ error }}</div>
    {% endif %}

    <form method="POST">
      {% csrf_token %}

      <div class="input-group">
        <label>Email Address</label>
        <input
          type="email"
          name="username"
          placeholder="Enter Email"
          required
        />
      </div>

      <div class="input-group">
        <label>Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter Password"
          required
        />
      </div>

      <button type="submit" class="auth-btn">Login</button>
    </form>

    <p class="auth-footer">
      Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
    </p>
  </div>
</div>
{% endblock %}
