<!-- LEFT SIDEBAR -->
<div class="sidebar" id="mySidebar">
  <div class="toggle-btn" id="sidebarToggle">&#9776;</div>
  <h2 style="margin-top: 0" class="sidebar-logo">Menu</h2>

  <a href="{% url 'user_dashboard' %}" class="sidebar-link">User Dashboard</a>
  <a href="/admin/" class="sidebar-link">Admin Panel</a>
  <a href="{% url 'home' %}" class="sidebar-link">Vehicles</a>
  <a href="{% url 'admin_dashboard' %}" class="sidebar-link">Admin Dashboard</a>
  <a href="#" class="sidebar-link">Settings</a>
</div>
