/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(90deg, #5da6c4, #203a43, #5498ba);
    color: white;
    padding: 15px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 3px 10px rgba(105, 186, 208, 0.3);
}

/* LOGO */
.logo a {
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* MENU */
.menu {
    display: flex;
    gap: 25px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;

    padding: 6px 12px;
    border-radius: 5px;

    transition: all 0.3s ease;
}

/* HOVER */
.menu a:hover {
    background: rgba(65, 204, 228, 0.929);
}

/* BUTTON */
.btn {
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

/* LOGOUT */
.logout {
    background: #ff4b4b;
    color: white;
}

.logout:hover {
    background: #ff0000;
}

/* SIGNUP */
.signup {
    background: #00c853;
    color: white;
}

.signup:hover {
    background: #00a844;
}

/* CONTENT AREA */
.content {
    padding: 30px;
}

/* SIGNUP PAGE */

.signup-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #1c92d2, #f2fcfe);
}

.signup-card {
    background: white;
    width: 380px;
    padding: 35px 30px;

    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);

    text-align: center;
}

.signup-card h2 {
    margin-bottom: 5px;
    color: #203a43;
}

.signup-card p {
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
}

/* FORM */

.signup-card form p {
    text-align: left;
    margin-bottom: 15px;
}

.signup-card label {
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
}

.signup-card input,
.signup-card select {
    width: 100%;
    padding: 8px 10px;

    border-radius: 5px;
    border: 1px solid #ccc;

    font-size: 14px;
}

/* BUTTON */

.signup-btn {
    width: 100%;
    margin-top: 15px;

    padding: 10px;
    background: #2c5364;
    color: white;

    border: none;
    border-radius: 25px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.signup-btn:hover {
    background: #0f2027;
}

/* LOGIN LINK */

.login-link {
    margin-top: 18px;
    font-size: 14px;
}

.login-link a {
    color: #1c92d2;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

/* ---->home page */

