{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>{% block title %}My App{% endblock %}</title>

    <!-- Common CSS -->
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}?v=2" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v=5" />

    <!-- Google Fonts: Outfit -->
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Page Specific CSS -->
    {% block css %} {% endblock %}
  </head>

  <body>
    <!-- Entire Dashboard Layout Wrapper -->
    <div class="dashboard">
      <!-- Main Content Area -->
      <div class="main">
        <!-- Top Navbar Component -->
        {% include 'core/topnavbar.html' %}

        <!-- Actual Page Content -->
        <div class="content">{% block content %} {% endblock %}</div>

        <!-- Footer Component -->
        {% include 'core/footer.html' %}
      </div>
    </div>
  </body>
</html>
